node_modules
types
coverage
coverage.json
.secret
.infura
.DS_Store
build
circuits/*.json
circuits/*.bin
.env
ptau

node_modules
.env

#Hardhat files
cache
artifacts

#Venv
bin
lib
lib64
pyvenv.cfg
share

yarn-error.log